html, body{
  height: 100%;
  width: auto;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

span{
  background-color: black;
  width: 100%;
  line-height: 0%;
}

h2, h4{
  line-height: 0%;
}
